<!DOCTYPE html>
<html>
  <head>
    <title>Gift</title>
  </head>
  <body>
    <p style="font-weight:bold; font-size:200%"><%= title %></p>
    <p style="font-weight:normal; font-size:100%"><%= content %></p>
  </body>
</html>
