<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <title>Plan</title>
    </head>

    <body>
        <h1>认真做自己想做的事</h1>
        <div>
            <% for(var i=0; i<posts.length; i++) { %>
            <p style="font-weight:bold; font-size:200%"><%= posts[i].get("title") %></p>
            <p style="font-weight:normal; font-size:100%"><%= posts[i].get("content") %></p>
<p style="font-weight:lighter; font-size:100%; color:#c0c0c0"><%= posts[i].get("result") %></p>
        <% } %>
        </div>
    </body>
</html>